
        body {
            margin: 0;
            overflow-y: scroll;
            scroll-snap-type: y mandatory;
            font-family: Arial, sans-serif;
            -ms-overflow-style: none; /* for Internet Explorer, Edge */
             scrollbar-width: none; /* for Firefox */
        }
        .dark-mode{
            background-color: #25282b;
            color: #f0f0f0;
        }
        .parent{
            width: 100%;
            height: 100vh;
            overflow-y: scroll;
            scroll-snap-type: y mandatory;
            -ms-overflow-style: none; /* for Internet Explorer, Edge */
            scrollbar-width: none; /* for Firefox */

        }
        .section {
            height: 100vh;

            scroll-snap-align: start;
            display: flex;
            flex-direction:column;
            align-items: center;
            justify-content: center;
            font-size: 1.5em;
            padding: 0px;
            overflow-y: scroll;
            scroll-snap-align: start;
            -ms-overflow-style: none; /* for Internet Explorer, Edge */
            scrollbar-width: none; /* for Firefox */

        }
        /*=== styling for the mini sections inside devs*/
        .min-sec{
            height: 100vh;
            width: 100%;
            padding: 0px;
            background: linear-gradient(to right,#e0e0e0d8,#f0f0f0);
        }
        /* Style for better visibility */
        .section:nth-child(odd) {
            background-color: #f0f0f0;
        }
        .section:nth-child(even) {
            background-color: #e0e0e0;
        }
        /*              styling sections                              */
        #sec1-2  {
            position: relative;
           
            
            /* Set the width and height of the div to match the image size */
            width: 100%; /* adjust to the desired width */
            height: 100vh; /* adjust to the desired height */
            background: linear-gradient(to top,#04850fd8,#c3e2c676);

            
        }
        #sec1-1{
            background: linear-gradient(to bottom,#04850fd8,#e2efe2);
        }  
      
        /*                      end of section styles               */
        /*Main image*/
        #riyad-menu{
            width: 100%;
            height: 100%;
            object-fit:cover;
            transition: opacity 0.3s ease;
        }

        /*styles for the drop down menu in the main page*/
        .topnav {
            background-color: #ece7e7;
            overflow: hidden;
            padding: 10px;
            text-align: center;
        }
        
        .topnav h1 {
            color: #fff;
            margin: 0;
        }
        
        .dropdown {
            display: inline-block;
        }
        
        .dropdown label {
            color: white;
            margin-right: 10px;
        }
        
        .dropdown select {
            background-color: #4CAF50;
            color: white;
            padding: 10px 20px;
            font-size: 16px;
            border: none;
            cursor: pointer;
        }
        
        /* Hover effect */
        .dropdown select:hover {
            background-color: #a9e0f8;
        }
        
        
        #para1{
            position: absolute;
            top: 50%;
             left: 50%;
             transform: translate(-50%, -50%);
             font-size: 32px;
             font-family: 'calibri', sans-serif;
             font-style: oblique;
             font-weight: bold;
             color: #CCCCCC;
        }

        /*styles for the second main page segment*/
        #section2{
            flex-direction: row;
        }
        /*styles for the image*/
        #riyad2{
            object-fit: fill;
            height: 100vh;
            
        }

        .buttons-container {
            position: fixed;
            top: 100px;
            right: 100px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
        }
        
       
        
        .dark-mode-button {
            background-color: #25282b;
            color: #f0f0f0;
            padding: 10px;
            border: none;
            cursor: pointer;
        }
        
        .dark-mode-button:hover {
            background-color: #444444;
        }
        /*             all this previous code is written by m7md Qash                 */
        /*              below code relates to the riyadh html                        */
        .R-main{
            position: relative;
            
        }
        table {
            
            width: 70%; /* Full-width */
            border-collapse: collapse; /* Collapse borders */
            margin: 20px auto; /* Margin for spacing */
            font-size: 0.9em; /* Font size */
            min-width: 400px; /* Minimum width */
            box-shadow: 0 0 20px rgba(0,0,0,0.15); /* Shadow for 3D effect */
        }
        
        th, td {
            padding: 12px 15px; /* Padding for cell content */
            text-align: left; /* Align text to the left */
            border-bottom: 1px solid #dddddd; /* Bottom border for cells */
        }
        
        th {
            background-color: #009879; /* Background color for the header */
            color: #ffffff; /* Text color for the header */
            font-weight: bold; /* Make header font bold */
        }
        
        tr:nth-of-type(even) {
            background-color: #f3f3f3; /* Zebra stripes for rows */
        }
        
        tr:last-of-type {
            border-bottom: 2px solid #009879; /* Add a solid line for the last row */
        }
        
        tr:hover {
            background-color: #f1f1f1; /* Hover effect for rows */
            cursor: pointer; /* Change cursor to pointer to indicate interactivity */
        }

        /*                      css for riyad.html images       */
        #imgKAFD{
            width: 80%;
            object-fit: cover;
            height: 50vh;
            object-position: top;
        }
        #imgR{
            position: relative;
            height: 50vh;
            width: 80%;
            object-fit: cover;
            object-position: center;
        }
        /*      this trickery makes it so the text apeares on the image     */
        #Main-pic{
            width: 100%;
            height: 50vh;
            object-fit: cover;
            object-position: center;
        }
        .headDiv{
            position: relative;
            text-align: center;
            color: white;
        }
        .cent-text{
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    font-size: 42px;
                    font-family: 'calibri', sans-serif;
        }
        .R-main{
            background: linear-gradient(to bottom left,#22886b,#67b9a8);
            text-align: center;
        }
        
        .separator {
            height: 2px; /* Thickness of the separator */
            background-color: #CCCCCC; /* Color of the separator */
            margin: 20px 0; /* Space above and below the separator */
            opacity: 45%;
          }