
        body {
            margin: 0;
            overflow-y: scroll;
            scroll-snap-type: y mandatory;
            font-family: Arial, sans-serif;
            -ms-overflow-style: none; /* for Internet Explorer, Edge */
             scrollbar-width: none; /* for Firefox */
        }
        .dark-mode{
            background-color: #25282b;
            color: #f0f0f0;
        }
        .parent{
            width: 100%;
            height: 100vh;
            overflow-y: scroll;
            scroll-snap-type: y mandatory;
            -ms-overflow-style: none; /* for Internet Explorer, Edge */
            scrollbar-width: none; /* for Firefox */

        }
        .section {
            height: 100vh;

            scroll-snap-align: start;
            display: flex;
            flex-direction:column;
            align-items: center;
            justify-content: center;
            font-size: 1.5em;
            padding: 0px;
            overflow-y: scroll;
            scroll-snap-align: start;
            -ms-overflow-style: none; /* for Internet Explorer, Edge */
            scrollbar-width: none; /* for Firefox */

        }
        /*=== styling for the mini sections inside devs*/
        .min-sec{
            height: 100vh;
            width: 100%;
            padding: 0px;
            background: linear-gradient(to right,#e0e0e0d8,#f0f0f0);
        }
        /* Style for better visibility */
        .section:nth-child(odd) {
            background-color: #f0f0f0;
        }
        .section:nth-child(even) {
            background-color: #e0e0e0;
        }
        #sec1-2  {
           
            
            /* Set the width and height of the div to match the image size */
            width: 100%; /* adjust to the desired width */
            height: 50vh; /* adjust to the desired height */
            background: linear-gradient(to top,#04850fd8,#c3e2c676);

            
        }
        #sec1-1{
            background: linear-gradient(to bottom,#04850fd8,#e2efe2);
        }
        /*Main image*/
        #riyad-menu{
            width: 100%;
            height: 100%;
            object-fit:cover;
            transition: opacity 0.3s ease;
        }

        /*styles for the drop down menu in the main page*/
        .dropdown {
            position: fixed;
            left: 0;
            top: 10px; /* Adjust the top position as needed */
            z-index: 1; /* Ensure the dropdown is above other elements */
        }
        
        /* Style for the dropdown label */
        .dropdown label {
            font-weight: bold;
            margin-bottom: 5px;
        }
        .dropdown select {
            padding: 10px;
            font-size: 16px;
            border: 1px solid #070e13;
            background-color: #ecf0f1;
            color: #88a7bb;
            transition: background-color 0.3s;
        }
        
        /* Hover effect */
        .dropdown select:hover {
            background-color: #a9e0f8;
        }
        
        
        #para1{
            text-align:center;
            padding: 10px;
            border-radius: 35%;
            border-style: double;
            border-color: #75db7dd8;
        }

        /*styles for the second main page segment*/
        #section2{
            flex-direction: row;
        }
        /*styles for the image*/
        #riyad2{
            object-fit: fill;
            height: 100vh;
            
        }