/* Basic reset */
/* Add or update existing styles to ensure proper display for RTL layout */
body[dir="rtl"] {
    text-align: right;
}
img {
    width: 100%;
    height: auto;
}
body, h1, h2, p {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 20px;
    padding-bottom: 60px; /* Adjusted for footer */
}

header {
    background: #006699;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

main {
    padding: 20px;
    max-width: 800px;
    margin: auto;
}

section img {
    width: 100%; /* Make images responsive */
    height: auto;
    margin-top: 20px;
}

section {
    margin-bottom: 40px;
}

h1, h2 {
    color: #333;
}

p {
    margin: 10px 0 20px;
}

footer {
    background: #006699;
    color: #fff;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 10px 0;
}
